body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.gray-list {
  background-color: #555F61;
  height: 33px;
}
.slogan {
  height: 175px;
  font-size: large;
  margin-top: 5px;
  line-height: 1.5;
  margin-bottom: 50px;
}
.bg-ijo  {
  background-color: rgba(17, 81, 94, 0.15);
  height: 150px;
  top: 300px;
};


.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.oval-button {
  background-color: rgba(17, 81, 94, 0.45);
  border: none;
  color: 555F61;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 50px; /* Increased border-radius for a wider oval shape */
  margin: 10px;
  cursor: pointer;
}

.img-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-container img {
  height: 300px;
  margin-right: 20px;
}


.search-input {
  display: flex;
  align-items: center;
  background-color: #f5f5f5;
  border-radius: 30px;
  padding: 5px;
  width: 200px;
  height: 36px;
}

.search-input-field {
  border: none;
  outline: none;
  background-color: transparent;
  flex-grow: 1;
  border-radius: 30px;
  padding: 0 10px;
  height: 36px;
  font-size: 16px;
  color: #333;
}

.search-input-field::placeholder {
  color: #999;
}

.search-input-field:focus {
  box-shadow: none;
}

.bi-search {
  fill: #333;
}

.judul{
  position: absolute;
  color:black;
  text-align: center;
  left: 410px;
  top: 40px

}

.tampilan{
  position:relative;
}

.bg{
  background-color: #ffffff;
  position: absolute;
  width: 219vh;
  height: 95vh  

}

.img{
  border-radius: 10px;
}

.judulP{
  color: #555F61;
  font-size: 20px;
}
.hargaP{
  color: #555F61;
  font-size: 12px;
}
.cardP {
  padding: 20px;
  width: 370px; /* panjang card */
  height: 370px; /* lebar card */
  background-color: rgba(17, 81, 94, 0.15);
  border-radius: 50px; /* membuat sisi card menjadi oval */ 
  padding: 20px; /* padding dalam card */
}
.card-image{
  width: 350px; /* panjang card */
  height: 245px; /* lebar card */
  background-color: #11515E; /* warna background card */
  border-radius: 40px; /* membuat sisi card menjadi oval */
  opacity: 0.3; /* opasitas warna 10% */
  padding: 20px; /* padding dalam card */
}